@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- */
/* BASE */
/* -------------------- */
@layer base {
  :root {
    @reference utilities;
    @apply font-normal;
    
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @reference utilities;
    @apply pt-4 mb-4 text-3xl font-bold text-center;
  }

  h2 {
    @reference utilities;
    @apply mb-10 text-3xl font-bold;
  }

  h3 {
    @reference utilities;
    @apply mb-2 font-medium text-[#fa6a02];
  }
}

/* -------------------- */
/* COMPONENTS */
/* -------------------- */
@layer components {
  .button-primary {
    @reference utilities;
    @apply px-8 py-3 rounded-lg bg-black text-white transition;
  }

  .button-primary:hover {
    @reference utilities;
    @apply bg-gray-600;
  }

  .button-secondary {
    @reference utilities;
    @apply px-8 py-3 rounded-lg bg-white text-black border border-black transition;
  }

  .button-secondary:hover {
    @reference utilities;
    @apply bg-black text-white;
  }
}
