@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- */
/* BASE */
/* -------------------- */
@layer base {
  @reference utilities;

  body {
    font-weight: 400;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply pt-4 mb-4 text-3xl font-bold text-center;
  }

  h2 {
    @apply mb-10 text-3xl font-bold;
  }

  h3 {
    @apply mb-2 font-medium text-[#fa6a02];
  }
}

/* -------------------- */
/* COMPONENTS */
/* -------------------- */
@layer components {
  @reference utilities;

  /* ---------- BUTTONS ---------- */

  .button-primary {
    @apply px-8 py-3 rounded-lg bg-black text-white transition;
  }

  .button-primary:hover {
    @apply bg-gray-600;
  }

  .button-secondary {
    @apply px-8 py-3 rounded-lg bg-white text-black border border-black transition;
  }

  .button-secondary:hover {
    @apply bg-black text-white;
  }

  /* ---------- PILL BUTTONS ---------- */

  .pill-primary {
    @apply px-5 py-2 rounded-full bg-black text-white font-medium
           transition hover:bg-gray-700;
  }

  .pill-secondary {
    @apply px-5 py-2 rounded-full bg-white text-black font-medium
           border border-black transition
           hover:bg-black hover:text-white;
  }

  .pill-disabled {
    @apply px-5 py-2 rounded-full bg-gray-200 text-gray-400
           cursor-not-allowed;
  }
}
