@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  padding-top: 15px;
  margin-bottom: 1rem; 
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 700; 
  text-align: center;   
}

h2 {
margin-bottom: 2.5rem; 
font-size: 1.875rem;
line-height: 2.25rem; 
font-weight: 700; 
}

h3 {
  margin-bottom: 0.5rem; 
  font-weight: 600; 
  color: #fa6a02;
}


