@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  padding-top: 15px;
  margin-bottom: 1rem; 
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 700; 
  text-align: center;   
}

h2 {
margin-bottom: 2.5rem; 
font-size: 1.875rem;
line-height: 2.25rem; 
font-weight: 700; 
}

h3 {
  margin-bottom: 0.5rem; 
  font-weight: 500; 
  color: #fa6a02;
}

.button-primary {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; 
  padding-left: 2rem;
  padding-right: 2rem; 
  border-radius: 0.5rem; 
  color: #ffffff; 
  background-color: #000000; 
  
}

.button-primary:hover {
  color: #ffffff;
  background-color: #7f7b7b;
}

.button-secondary {
    padding-top: 0.75rem;
  padding-bottom: 0.75rem; 
  padding-left: 2rem;
  padding-right: 2rem; 
  border-radius: 0.5rem; 
  color: #000000;
  background-color: #ffffff;
}

.button-secondary:hover {
  color: #ffffff;
  background-color: #000000;
}

